body main sections h2:first-child {
	text-align: center;
}

.pig .subtitle {
	font-size: 50px;
}


body main section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body main section div.pig__head {
	z-index: 5;
	position: relative;
	margin-top: 80px;
	width: 380px;
	height: 380px;
	background-color: coral;
	border-radius: 50%;
}

.ear-left,
.ear-right {
	position: relative;
	background-color: rgb(219, 233, 29);
	border-radius: 50%;
	width: 130px;
	height: 130px;
}

.ear-left {
	top: -422px;
	left: 109px;
}

.ear-right {
	top: -553px;
	left: -120px;
}

.pig__eye-left,
.pig__eye-right {
	z-index: 6;
	background-color: rgb(247, 214, 171);
	position: relative;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.pig__eye-left {
	left: 65px;
	top: 70px;
}

.pig__eye-right {
	left: 228px;
	top: -10px;
}

.pig__eye-left .pig__eyeball,
.pig__eye-right .pig__eyeball {
	position: absolute;
	background-color: rgba(39, 28, 28, 0.813);
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.pig__eye-left .pig__eyeball {
	right: 8px;
	top: 35px;
}

.pig__eye-right .pig__eyeball {
	left: 8px;
	top: 35px;
}

.pig__nose {
	position: relative;
	background-color: rgb(247, 214, 171);
	border-radius: 50%;
	left: 130px;
	top: -20px;
	width: 120px;
	height: 120px;
}

.pig__nose .nostrill-left,
.pig__nose .nostrill-right {
	position: absolute;
	background-color: rgb(75, 70, 70);
	border-radius: 50%;
	width: 15px;
	height: 50px;
}

.pig__nose .nostrill-left {
	top: 55px;
	left: 70px;
}

.pig__nose .nostrill-right {
	top: 55px;
	left: 40px;
}

.pig__libs {
	background-color: rgb(247, 214, 171);
	border-radius: 20px 20px 20px;
	position: absolute;
	top: 280px;
	left: 128px;
	width: 130px;
	height: 40px;
}

.pig__tongue {
	position: absolute;
	background-color: red;
	border-radius: 10px 10px 20px 20px;
	top: 300px;
	left: 178px;
	width: 30px;
	height: 60px;
}

section.position_definition h2 {
	font-size: 40px;
}
section.position_definition {
	font-size: 20px;
}

section.position_definition .item{
	height: 150px;
}

ul.items>li {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 10px 10px;
	width: 620px;
	height: 100px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgb(179, 177, 177);
}

ul.items>li:first-child~li {
	margin-top: 10px;
}

ul.items-pos {
	list-style-type: none;
}

ul.items-pos li:nth-child(1) {
	top: -720px;
  left: 280px;
	padding: 8px 30px;
	border-radius: 10px;
	background-color: palevioletred;
	position: relative;
}

ul.items-pos li:nth-child(2) {
	left: 280px;
  top: -570px;
	padding: 8px 30px;
	border-radius: 10px;
	background-color: palevioletred;
	position: relative;
}

ul.items-pos li:nth-child(3) {
	left: 280px;
  top: -420px;
	padding: 8px 38px;
	border-radius: 10px;
	background-color: palevioletred;
	position: relative;
}

ul.items-pos li:nth-child(4) {
	left: 280px;
  top: -300px;
	padding: 8px 38px;
	border-radius: 10px;
	background-color: palevioletred;
	position: relative;
}

footer a {
	width: 130px;
	font-size: 20px;
	position: fixed;
	text-decoration: none;
	top: 80vh;
	left: 76%;
	padding: 15px 20px;
	border-radius: 10px;
	color: white;
	background-color: blue;
}