/* !!fonts */
@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Black.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Black.woff) format("woff"),
		url(./fonts/MontserratAlternates-Black.eot) format("eot"),
		url(./fonts/MontserratAlternates-Black.ttf) format("ttf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-BlackItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-BlackItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-BlackItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-Black.ttf) format("ttf");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Bold.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Bold.woff) format("woff"),
		url(./fonts/MontserratAlternates-Bold.eot) format("eot"),
		url(./fonts/MontserratAlternates-Bold.ttf) format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-BoldItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-BoldItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-BoldItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-BoldItalic.ttf) format("ttf");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-ExtraBold.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-ExtraBold.woff) format("woff"),
		url(./fonts/MontserratAlternates-ExtraBold.eot) format("eot"),
		url(./fonts/MontserratAlternates-ExtraBold.ttf) format("ttf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-ExtraBoldItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-ExtraBoldItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-ExtraBoldItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-ExtraBoldItalic.ttf) format("ttf");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-ExtraLight.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-ExtraLight.woff) format("woff"),
		url(./fonts/MontserratAlternates-ExtraLight.eot) format("eot"),
		url(./fonts/MontserratAlternates-ExtraLight.ttf) format("ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-ExtraLightItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-ExtraLightItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-ExtraLightItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-ExtraLightItalic.ttf) format("ttf");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Italic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Italic.woff) format("woff"),
		url(./fonts/MontserratAlternates-Italic.eot) format("eot"),
		url(./fonts/MontserratAlternates-Italic.ttf) format("ttf");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Light.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Light.woff) format("woff"),
		url(./fonts/MontserratAlternates-Light.eot) format("eot"),
		url(./fonts/MontserratAlternates-Light.ttf) format("ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-LightItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-LightItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-LightItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-LightItalic.ttf) format("ttf");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Medium.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Medium.woff) format("woff"),
		url(./fonts/MontserratAlternates-Medium.eot) format("eot"),
		url(./fonts/MontserratAlternates-Medium.ttf) format("ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-MediumItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-MediumItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-MediumItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-MediumItalic.ttf) format("ttf");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Regular.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Regular.woff) format("woff"),
		url(./fonts/MontserratAlternates-Regular.eot) format("eot"),
		url(./fonts/MontserratAlternates-Regular.ttf) format("ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-SemiBold.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-SemiBold.woff) format("woff"),
		url(./fonts/MontserratAlternates-SemiBold.eot) format("eot"),
		url(./fonts/MontserratAlternates-SemiBold.ttf) format("ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-SemiBoldItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-SemiBoldItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-SemiBoldItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-SemiBoldItalic.ttf) format("ttf");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-Thin.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-Thin.woff) format("woff"),
		url(./fonts/MontserratAlternates-Thin.eot) format("eot"),
		url(./fonts/MontserratAlternates-Thin.ttf) format("ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: MontserratAlternates;
	src: local(MontserratAlternates),
		url(./fonts/MontserratAlternates-ThinItalic.woff2) format("woff2"),
		url(./fonts/MontserratAlternates-ThinItalic.woff) format("woff"),
		url(./fonts/MontserratAlternates-ThinItalic.eot) format("eot"),
		url(./fonts/MontserratAlternates-ThinItalic.ttf) format("ttf");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: Cormorantinfant;
	src: local(Cormorantinfant),
		url(./fonts/cormorantinfant/Cormorantinfantlightitalic.woff2) format("woff2"),
		url(./fonts/cormorantinfant/Cormorantinfantlightitalic.woff) format("woff"),
		url(./fonts/cormorantinfant/Cormorantinfantlightitalic.eot) format("eot"),
		url(./fonts/cormorantinfant/Cormorantinfantlightitalic.ttf) format("ttf");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: Cormorantinfant;
	src: local(Cormorantinfant),
		url(./fonts/cormorantinfant/Cormorantinfantsemibold.woff2) format("woff2"),
		url(./fonts/cormorantinfant/Cormorantinfantsemibold.woff) format("woff"),
		url(./fonts/cormorantinfant/Cormorantinfantsemibold.eot) format("eot"),
		url(./fonts/cormorantinfant/Cormorantinfantsemibold.ttf) format("ttf");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: Cormorantinfant;
	src: local(Cormorantinfant),
		url(./fonts/cormorantinfant/Cormorantinfantbold.woff2) format("woff2"),
		url(./fonts/cormorantinfant/Cormorantinfantbold.woff) format("woff"),
		url(./fonts/cormorantinfant/Cormorantinfantbold.eot) format("eot"),
		url(./fonts/cormorantinfant/Cormorantinfantbold.ttf) format("ttf");
	font-style: normal;
	font-weight: 600;
}

html {
	color: #fff;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main h2 {
	font-style: italic;
	font-size: 30px;
}


/* !!table 1 */

main table {
	border-collapse: collapse;
	width: 1110px;
}

main table caption {
	font-size: 32px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 10px;
}

main table thead tr th {
	border: 1px solid #000;
	padding: 5px;
	height: 40px;
	width: 400px;
	color: #000;
}

main table thead tr th + th + th + th + th +t h {
	color: inherit;
}

main table thead tr th ~ th + th + th + th + th {
	background-color: rgb(46, 51, 51);
	border-color: #fff;
}

main table thead tr th ~ th {
	width: 80px;
}

main table tbody tr + tr td {
	height: 60px;
	border: 1px solid #000;
	font-weight: bold;
	background-color: rgb(185, 185, 185);
}

main table tbody > tr {
	height: 40px;
	border: 1px solid #000;
	font-weight: bold;
	background-color: rgb(185, 185, 185);
}

main table tbody tr > td {
	border: 1px solid #000;
}

main table tbody tr + tr + tr + tr + tr + tr + tr + tr td,
main table tbody tr + tr + tr + tr + tr + tr + tr td,
main table tbody tr + tr + tr + tr + tr + tr td,
main table tbody tr + tr + tr + tr + tr td,
main table tbody tr + tr + tr + tr td,
main table tbody tr + tr + tr td,
main table tbody tr + tr td,
main table tbody tr td {
	color: green;
}

main table tbody tr + tr + tr + tr + tr + tr + tr + tr td+td,
main table tbody tr + tr + tr + tr + tr + tr + tr td+td,
main table tbody tr + tr + tr + tr + tr + tr td+td,
main table tbody tr + tr + tr + tr + tr td+td,
main table tbody tr + tr + tr + tr td + td,
main table tbody tr + tr + tr td + td,
main table tbody tr + tr td + td,
main table tbody tr td + td {
	color: inherit;
}

main table tbody tr td ~ td {
	text-align: center;
	background-color: rgb(75, 75, 197);
	font-size: 20px;
}

main table tbody tr td + td + td + td + td + td {
	background-color: rgb(46, 51, 51);
	text-decoration: none;
	border-color: #fff;
}

main table tbody tr + tr + tr + tr + tr + tr + tr td + td + td + td + td + td,
main table tbody tr + tr + tr + tr + tr + tr td + td + td + td + td + td,
main table tbody tr + tr + tr + tr + tr td + td + td + td + td + td {
	background-color: rgb(46, 51, 51);
}

main table tbody tr td {
	font-size: 20px;
}

main table tbody tr + tr + tr + tr + tr + tr + tr + tr td + td,
main table tbody tr + tr + tr + tr + tr + tr + tr td + td + td,
main table tbody tr + tr + tr + tr + tr + tr   td + td + td + td,
main table tbody tr + tr + tr + tr + tr   td + td+td+td,
main table tbody tr + tr + tr + tr   td + td + td+td,
main table tbody tr + tr + tr   td + td + td + td+td,
main table tbody tr + tr   td + td + td + td + td {
	text-decoration: underline;
	font-size: 30px;
}

main table tbody tr + tr + tr + tr + tr + tr + tr + tr td + td + td,
main table tbody tr + tr + tr + tr + tr + tr + tr td + td + td + td,
main table tbody tr + tr + tr + tr + tr + tr   td + td + td + td + td,
main table tbody tr + tr + tr + tr + tr   td + td + td + td + td,
main table tbody tr + tr + tr + tr   td + td + td + td + td,
main table tbody tr + tr + tr   td + td + td + td + td + td,
main table tbody tr + tr   td + td + td + td + td + td,
main table tbody tr   td + td + td + td + td + td {
	text-decoration: none;
	font-size: inherit;
}

main table tbody tr + tr td ~ td {
	background-color: brown;
}

main table tbody tr + tr + tr td ~ td {
	background-color: rgb(61, 165, 42);
	color: white;
}

main table tbody tr + tr + tr + tr td ~ td {
	background-color: rgb(58 47 61);
}

main table tbody tr + tr + tr + tr + tr td ~ td {
	background-color: rgb(73 67 50);
}

main table tbody tr + tr + tr + tr + tr + tr td ~ td {
	background-color: rgb(23 46 25);
}

main table tbody tr + tr + tr + tr + tr + tr + tr td ~ td {
	background-color: rgb(35, 39, 49);
}

main table tbody tr + tr + tr + tr + tr + tr + tr + tr td ~ td {
	background-color: rgb(45, 61, 35);
}



main table tbody tr + tr + tr + tr + tr + tr + tr + tr td + td {
	color: rgb(85, 172, 167);
}

main table tbody tr + tr + tr + tr + tr + tr + tr td + td {
	color: rgb(205, 56, 56);
}

main table tbody tr + tr + tr + tr + tr + tr td + td {
	color: rgb(31, 234, 109);
}

main table tbody tr + tr + tr + tr + tr td + td {
	color: rgba(173, 147, 114, 0.66);
}

main table tbody tr + tr + tr + tr td + td {
	color: rgba(197, 238, 48, 0.66);
}

main table tbody tr + tr + tr + tr + tr + tr + tr + tr td + td + td + td + td + td,
main table tbody tr + tr + tr + tr + tr + tr + tr td + td + td + td + td + td,
main table tbody tr + tr + tr + tr + tr + tr   td + td + td + td + td + td,
main table tbody tr + tr + tr + tr + tr   td + td + td + td + td + td,
main table tbody tr + tr + tr + tr   td + td + td + td + td + td,
main table tbody tr + tr + tr   td + td + td + td + td + td,
main table tbody tr + tr   td + td + td + td + td + td,
main table tbody tr   td + td + td + td + td + td {
	color: inherit;
}


main table {
	border-collapse: collapse;
	margin-top: 30px;
}

/* !!table 2 */

main table + table {
	border-collapse: collapse;
	margin-top: 30px;
	width: 700px;
}

main table + table thead {
	height: 80px;
}

main table + table thead th {
	width: 30px;
}

main table + table thead th+th {
	width: 50px;
}

main table + table thead th+th+th {
	width: 180px;
}

main table + table thead tr th {
	border: 1px solid black;
}

main table + table thead tr th + th + th + th {
	width: 100px;
	padding: 10px;
	font-weight: bold;
}

main table + table tbody tr td {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #000;
	height: 50px;
	border-right: 1px solid white;
}

/* !!font work */

main h3 {
	font-family: MontserratAlternates, sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #000;
}

main h2 {
	color: #000;
}

main h3 + p + h3 {
	font-family: Cormorantinfant, sans-serif;
	font-style: normal;
	margin: 0;
	font-weight: 700;
	color: #000;
}

main p {
	font-family: MontserratAlternates, sans-serif;
	word-spacing: 10px;
	font-weight: 500;
	color: rgb(60, 60, 60);
	width: 275px;
	margin-left: 340px;
}

main p span + span + span {
	background-color: rgba(110, 83, 143, 0.571);
	font-weight: 700;
}

main p span + span {
	background-color: rgba(111, 197, 111, 0.564);
	font-style: italic;
}

main p span {
	background-color: rgba(99, 30, 30, 0.644);
	font-weight: 700;
	font-style: italic;
}

main p ~ p {
	font-family: Cormorantinfantlight, sans-serif;
	font-weight: normal;
	width: 534px;
	word-spacing: 3px;
	letter-spacing: 0.5px;
	color: #000;
	margin-left: 0;
}

main p ~ p span {
	font-weight: 700;
	background-color: rgba(80, 142, 196, 0.584);
}

main p ~ p span + span {
	background-color: rgba(230, 188, 121, 0.521);
	font-weight: 300;
	font-style: italic;
}

main p ~ p span + span + span {
	background-color: rgba(138, 87, 154, 0.521);
	font-weight: 700;
	font-style: italic;
}