body{
	min-width: 100%;
	font-size: 20px;
}

.contact-details form {
	width: 73%;
}

.titleform{
	font-size: 20px;
	
}

.top{
	display: flex;
	flex-direction: row;
}

.top .text {
	display: flex;
	flex-direction: column;
	width: 302px;
	line-height: 1.3;
}

.top .input {
	display: flex;
	flex-direction: row;
}

.top .imginput {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	margin-left: 10px;
}

.top .imginput input {
	margin-bottom: 5px;
}

.top .input .image {
	background-image: url('./image/1579633606_1579633604.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
	width: 160px;
  height: 125px;
}

.top .input .img {
	display: flex;
	flex-direction: column;
}

.top .input .img input {
	width: 40px;
}

.textarea{
	display: flex;
	flex-direction: column;
	width: 300px;
}

.textarea textarea#about-myself{
	height: 160px;
}

.disabled{
	margin-top: 20px;
}

.button-form__bottom{
	margin-top: 20px;
}
.button-form__bottom button {
	height: 30px;
	font-size: 20px;
}